<div class="container">
    <div class="row">
    	<div class="col-md-8 col-md-offset-2">
			<% flash.each do |name, msg| %>
			    <% if name == "notice" %>
			        <div class="alert alert-success">
			          <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
			          <%= msg %>
			        </div>
			    <% elsif name == "alert" %>
			        <div class="alert alert-error bg-danger">
			          <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
			          <%= msg %>
			        </div>
			    <% end %>
			<% end %>
			<h1>ミニブログ</h1>

			<div style="padding-top:30px;">
				<%= render "blogs/form" %>
			</div>

			<div style="padding-top:30px;">
				<% @blogs.each do |blog| %>
					<div class="well well-lg">
						<p class="lead"><%= blog.body %></p>
						<div class="text-muted">
							<span><%= blog.created_at.strftime("%Y.%m.%d %H:%M") %>　</span>
							<span><%= fa_icon "heart" %><%= blog.like %>　</span>
							<%= link_to blog_like_path(blog.id), :method => :patch do %>
								<%= fa_icon "thumbs-up" %> いいね!
							<% end %>
							<a type="button" data-toggle="modal" data-target="#modal-blog-<%= blog.id %>" class="btn"><%= fa_icon "comment" %> コメント</a>
						</div>

						<div class="modal fade" id="modal-blog-<%= blog.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
						    	<div class="modal-content">
						      		<div class="modal-body">
						      			<p class="lead"><%= blog.body %></p>
						        		<%= render "replies/form" ,blog: blog %>
						      		</div>
						    	</div>
						  	</div>
						</div>

						
						<% blog.replies.each do |reply| %>
							<hr>
						    <div><%= reply.comment %></div>
						    <p class="text-right text-muted"><%= reply.created_at.strftime("%Y.%m.%d %H:%M") %></p>
					    <% end %>	

					</div>
				<% end %>
			</div>

		</div>
	</div>
</div>